.my-setting-header {
  height: 92px;
}
.my-setting-article {
  min-height: calc(100vh - 148px);
  min-width: 100%;
  background-color: #bfbebe;
}

.animal {
  color: royalblue;
}
.vegetable {
  color: goldenrod;
}
.user {
  color: rebeccapurple;
}

.company {
  color: chocolate;
}
